.body {
    font-family: "Maven Pro";
}
.container {
    width: 1020px;
    padding: 0px;
    margin: 0px auto;     

}
.nav {
    height: 63px;
    background-color: #323232;
}
.slider {
    
    background-color: #ffffff;
}
.person {
    background-color: #2eb398;
    overflow: hidden;
    
}
.person-border {
    margin: 12px 100px;
    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
    overflow: hidden;
}
.person-container {
    margin: 56px 20px;  
    display: flex;   
}
.person-hexagon {
    
}
.person-info {
    margin-left: 20px;
}
.person-about p:nth-child(1) {

    font-size: 30px;
    color: #d7fcf5;
    margin: 7px;
    line-height: 4.56pt;
}
.person-about p:nth-child(2) {

    font-size: 18px;
    color: #20816d;
    margin: 0px;
    line-height: 21.56pt;
}
.person-about p:nth-child(3) {

    font-family: Lato;
    font-size: 12px;
    color: #d7fcf5;
    line-height: 16.55pt;
}
.person-social {    
   float: right;    
}
.person-social a {
    margin-left: -4px;
}
.footer-content{
    height: 609px;
}
p, span {
    color: #e0e0e0;
}
.footer-border {
    margin: 9px 30px;
    padding-bottom: 54px;
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
}
.footer-content {
    background-color: #323232;
    overflow: hidden;
}
.footer-center {
    display: flex;
    flex-direction: row;
    margin-left: 96px;
	
}
.footer-copyrigth {
    background-color: #222222;
    padding: 16px 0 16px 40px;
    
}
.footer-top  {
   margin-left: 98px;
   margin-top: 48px;
}
.footer-top p {
    font-size: 30px;   
    
}
.footer-top p:first-child {
    margin-bottom: -20px;   
    
}
.footer-top p:nth-child(2) {
    font-size: 18px;
    
}
.footer-copyrigth p {
    font-size: 12px;
    color: #3c3c3c;
    
}
.footer-left  {
    width: 580px;
    display: flex;
	flex-direction: column;
}


.footer-left input, textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;     
    color: #bebebe;
    background-color: #454545;
    padding: 10px 0 15px 15px;
    margin-bottom: 15px;
    border: none;
}
.footer-left textarea {
    height: 150px;
}
.footer-right {
    margin-top: 0; 
    width: 180px;
    margin-left: 20px;    
}
.footer-right p  {
    margin-top: 0;
    font-size: 12px;
    font-family: Lato;
    line-height: 23px;
    text-align: justify;

}
.footer-contact {
    padding-left: 20px;
}
.footer-contact li p{    
    
    font-weight: bold;
    line-height: normal;
}
.footer-contact li:nth-child(1){
    list-style-image: url(assets/images/location.png);
}
.footer-contact li:nth-child(2){
    list-style-image: url(assets/images/phone.png);
}
.footer-contact li:nth-child(3){
    list-style-image: url(assets/images/mail.png);
}
button {
    height: 38px;
    width: 90px;
    float: right;
    background-color: #2eb398;
    color: #cff2eb;
    border: none;
}



  


