body {
    font-family: 'Maven Pro';
   
}
.container {
    width: 1020px;
    padding: 0px;
    margin: 0px auto;  


}

.nav {
    position: relative;
}
.nav-container {
   display: flex;
   justify-content: center;
   background-color: #323232;  
   height: 71px;
   
 
      
  
}
.menu-left {
    padding-left: 0px;
}
.nav-container ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-left: 4px;
    align-items: center;
    margin-bottom: -2px;
    
    
}
.nav-container li {
    
    font-size: 10px;
    font-family: Lato;
    font-weight: bold;
    color: #ffffff;    
    
}
.nav-container li div {
    
}

.menu-dot {
    box-sizing: border-box;
    width: 1px;
    height: 1px;
    border: 0.1px solid #464b5c;
    border-radius: 50%;
    
    background-color :#464b5c;
}
ul li:nth-child(2) {
    margin-left: 10px;
}
ul li:nth-child(3) {
    margin-left: 13px;

}
ul li:nth-child(4) {
    margin-left: 36px;
    margin-top: 4px
}
ul li:nth-child(5) {
    margin-left: 40px;
}
ul li:nth-child(6) {
    margin-left: 10px;
}
ul li:nth-child(7) {
    margin-left: 12px;
}
.nav-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 26px 45px 0 45px;
    border-color: #323232 transparent transparent transparent;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.nav-squad {
    width: 140px;
    height: 26px;
    background-color: white;
    /* top: -35px; */
    position: absolute;
    /* top: -26px; */
    /* left: -99px; */
    /* z-index: -5; */
    bottom: -0px;
    left: 43%;
}
.slider {
    
    background-color: #ffffff;
   
}
.slider-border {
    border-top: 1px solid #e4e9eb;
    border-bottom: 1px solid #e4e9eb;
    margin-top: -15px;
    padding-bottom: 11px;
    margin-left: 30px;
    margin-right: 30px;
}


.slider-border-inside {
    
    position: relative;
    z-index: 1;
}
.hexagon-container-top {
    position: relative;
    z-index: 2;
    top: 69px;
    left: 82px;
}
.hexagon-container-middle {
   
    
    width: 1000px;
    position: relative;
    z-index: -2;
    top: 7px;
    left: -19px;
}

.hexagon-container-footer {
    position: relative;
    z-index: 4;
    top: -55px;
    left: 81px;
    
}
.hexagon {
	width: 180px;
    height: 210px;
    margin: 8px;
    transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
    
    
    
}
.hex1 {
    visibility: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;

}
.hex2 {
    width: 100%;
    height: 100%;
    background: #ccc3;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background-image: url("assets/images/slider-5.jpg");
    background-repeat: no-repeat;
    background-position: 50%;


}
.hexagon-container-top .hex2 {
    background-image: url("assets/images/slider-5.jpg");

}
.hexagon-container-middle .hex2 {
    background-image: url("assets/images/slider-4.jpg");

}
.slider-box {
    position: relative;
    top: -16px;
    margin-bottom: -20px;
}

/*
.hexagon {
	width: 180px;
	height: 206px;
	background: url("assets/images/slider-1.jpg");
    position: relative;
    
    
}
.hexagon:before {
	content: "";
	position: absolute;
	top: 0; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 90px solid #ffffff;
	border-right: 90px solid #ffffff;
	border-bottom: 51px solid transparent;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: 0; 
	left: 0;
	width: 0;
    height: 0;
    clip:rect(40px 40px 40px 40px);
	
    
    
}
.hexagon img {
    width: 180px;
    height: 206px;
    background: center no-repeat;
}*/

.person {
    background-color: #2eb398;
    overflow: hidden;
    margin-top: 11px;
    
}
.person-border {
    height: 317px;
    margin: 12px 99px;
    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
    overflow: hidden;
}
.person-container {
    margin: 56px 20px;  
    display: flex;   
}
.person-hexagon .hex2 {
    background-image: url("assets/images/person.png");

}

.person-info {
    position: relative;
    margin-left: 20px;
    
}
.person-about h1 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
    color: #d7fcf5;
    margin-top: 6px;
    line-height: 4.56pt;
}
.person-about h2 {

    font-size: 18px;
    color: #20816d;
    margin-top: -11px;
}
.person-about p {

    font-family: Lato;
    font-size: 12px;
    color: #d7fcf5;
    line-height: 16pt;
}
.person-social {   
    position: absolute; 
    right: 0;
    bottom: 0;
   
}
.person-social a {
    margin-left: -5px;
}
.footer-content{
    height: 609px;
}
p, span {
    color: #e0e0e0;
}
.footer-border {
    
    margin: 14px 30px;
    padding-bottom: 54px;
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
}
.footer-content {
    background-color: #323232;
    overflow: hidden;
}
.footer-center {
    display: flex;
    flex-direction: row;
    margin-left: 90px;
	
}
.footer-copyrigth {
    background-color: #222222;
    padding: 1px 0 5px 40px;
    margin-top: -44px;
    
}
.footer-top  {
    margin-left: 91px;
    margin-top: 46px;
}
.footer-top p {
    font-size: 30px;   
    
}
.footer-top p:first-child {
    margin-bottom: -20px;   
    
}
.footer-top p:nth-child(2) {
    font-size: 18px;
    
}
.footer-copyrigth p {
    font-size: 12px;
    color: #3c3c3c;
    
}
.footer-left  {
    width: 580px;
    display: flex;
    flex-direction: column;
    margin-top: 1px;
}
.footer-left ::placeholder {
    font-family: Lato;
    font-size: 12px;
    color:#bebebe;
}


.footer-left input, textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    color: #bebebe;
    background-color: #454545;
    padding: 9px 0 8px 14px;
    margin-bottom: 15px;
    margin-top: 1px;
    border: none;
}
.footer-left input {
    line-height: 21px;
} 
.footer-left textarea {
    height: 150px;
}
.footer-right {
    margin-top: 0; 
    width: 180px;
    margin-left: 20px;    
}
.footer-right p  {
    margin-top: -5px;
    font-size: 12px;
    font-family: Lato;
    
    color: #e0e0e0;
    text-align: justify;
    line-height: 22px;

}
.footer-contact {
    margin-top: 40px;
    margin-left: -23px;
}

.footer-contact li p{    
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    color: #e0e0e0;
}


.footer-contact li:nth-child(1){
    list-style-image: url(assets/images/location.png);
    text-indent: 7px;
    
}
.footer-contact li:nth-child(2){
    list-style-image: url(assets/images/phone.png);
    margin-left: 3px;
    text-indent: 5px;
    
}
.footer-contact li:nth-child(3){
    list-style-image: url(assets/images/mail.png);
    margin-left: 3px;
    text-indent: 5px;
    
}
button {
    height: 38px;
    width: 90px;
    float: right;
    background-color: #2eb398;
    color: #cff2eb;
    border: none;
    margin-top: -3px;
    font-size: 12px;
    font-weight: bold;
}



  


